<!--sh_ft [s] -->
<div id="sh_ft" th:fragment="footer">
    <ul class="ft_nav">
        <li><a href="">회사소개</a></li>
        <li><a href="">사업안내</a></li>
        <li><a href="">서비스분야</a></li>
        <li><a href="">마케팅최적화</a></li>
        <li><a href="">고객센터</a></li>
    </ul>
    <div class="inner">
        <div class="ft_logo"><img src="img/common/logo.png" alt="Sample" /></div>
        <div class="info">
            <p>Company Info</p>
            경기도 부천시 부흥로 258 일산빌딩 5층 샤이닝 상호 : 샤이닝 대표 : 오성민<br>
            사업자 번호 : 130-37-46318(등록2007년) 통신판매업종신고 : 제2010-경기부천-924호<br>
            대표번호 : 1544-6062 팩스 : 0505-200-6060 이메일 : hdweb@hdweb.co.kr
            ⓒ 샤이닝 - 기업 홈페이지 샘플
        </div>
        <div class="links">
            <a href="">사이트맵</a>
        </div>
    </div>
</div>
<!--sh_ft [e] -->