<!-- sh_hd [s] -->
<div id="sh_hd" th:fragment="header">
    <div id="sh_hd_wrapper">

        <div class="sh_lnb_bg"></div>
        <!-- shGnb [s] -->
        <div id="shGnb" class="main">
            <!-- 로고 -->
            <div class="sh_logo"><a href="index.html"><img src="/images/common/logo.png" alt="Sample" /></a></div>
            <!-- 상단메뉴 -->
            <ul class="sh_nav">
                <li>
                    <a href="sub1.html">회사소개</a>
                    <ul class="sh_lnb_s">
                        <li><a href="sub1.html">회사소개</a></li>
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">사업안내</a>
                    <ul class="sh_lnb_s">
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">서비스분야</a>
                    <ul class="sh_lnb_s">
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">마케팅최적화</a>
                    <ul class="sh_lnb_s">
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">고객센터</a>
                    <ul class="sh_lnb_s">
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                        <li><a href="">소분류</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sh_tip">
                <li><a href="index.html">홈</a></li>
            </ul>
        </div>
        <!-- shGnb [e] -->

    </div>
</div>
<!-- sh_hd [e] -->