<div id="mainVisual" th:fragment="main">
    <div class="main_txt">
        <p>세상을 키우는 힘,
            여러분과 함께 하겠습니다.</p>
        <div class="controls">
            <a href="">Discover</a>
            <span class="prev"><i data-feather="arrow-left"></i></span>
            <span class="next"><i data-feather="arrow-right"></i></span>
        </div>
        <div class="txt">함께 하는 즐거움, 그 이상의 경험
            고객의 니즈를 파악하고 확실한 가치를 제공합니다.</div>
    </div>
    <div class="main_slide swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide video_play" data-swiper-autoplay="6000"><!-- 영상 재생시간 입력 -->
                <div class="bg">
                    <video autoplay muted="muted" width="250">
                        <source src="/images/main/main_movie.mp4" type="video/mp4">
                        브라우저를 업그레이드 필요
                    </video>
                </div>
            </li>
            <li class="swiper-slide"><div class="bg bg02"></div></li>
            <li class="swiper-slide"><div class="bg bg03"></div></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.main_txt').delay(300).animate({"opacity":"1"},1200);
    });
    var mainSwiper = new Swiper(".main_slide", {
        loop: true,
        effect:'fade',
        speed:800,
        spaceBetween : 0,
        pagination: false,
        slideActiveClass: 'on',
        autoplay: {
            delay: 3200,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: '#mainVisual .next',
            prevEl: '#mainVisual .prev',
        },
    });
    mainSwiper.on('slideChange', function () {
        var slideNum = this.activeIndex;
        var currentSlide = $('.main_slide').find('.swiper-slide').eq(slideNum);
        var currentVideo = currentSlide.find('video');
        if(currentVideo.length > 0){
            $('.main_slide').find('video').trigger("pause");
            currentVideo.get(0).currentTime = 0;
            currentVideo.get(0).play();
        }
    });
</script>